<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        {% load pipeline %}
        {% stylesheet 'vendor' %}
        {% stylesheet 'global' %}
        {% javascript 'vendor' %}
    </head>
    <body>
    {% block content %}
    <div class="container">
        <div>
            Welcome to NOGGONG world!
        </div>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form class="form-signin" method="POST" action="">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
            <button class="btn btn-lg btn-block" type="submit">Register Account</button>
        </form>
    </div>
    {% endblock %}
    </body>
</html>