

<h2>{{user.username}}님의 프로필</h2>

<ul>
    {% if user.profile %}
    <li>성별 : {{user.profile.get_gender_display}}</li>
    {% else %}
        {% if user == request.user %}
    <li><a href="{% url 'change_profile' %}">프로필 입력하기</a></li>
        {% endif %}
    {% endif %}
    {% if user != request.user %}
        <li><a href="{% url 'follow_user' user.username %}">{% if is_following %}
        팔로잉 끊기
        {% else %}
        팔로잉하기
        {% endif %}</a></li>
    {% endif %}

    {% if followers.count %}
        <li>현재 팔로워 수 : {{followers.count}}<ul>
            {% for follower in followers %}
            <li>{{follower.user}}</li>
            {% endfor %}
        </ul></li>
    {% endif %}
</ul>


<p>{{photos.number}} / {{photos.paginator.num_pages}}</p>
{% for photo in photos %}
<div><a href="{% url 'single_photo' photo.id %}"><img src="{{photo.image_file.url}}" /></a></div>
{% empty %}
<p>아직 사진이 없습니다.</p>
{% endfor %}

<p><a href="{{request.path}}">첫 페이지</a> /
{% if photos.has_previous %}
<a href="{{request.path}}?page={{photos.previous_page_number}}">이전 페이지 ({{photos.previous_page_number}})</a> /
{% endif %}
{% if photos.has_next %}
<a href="{{request.path}}?page={{photos.next_page_number}}">다음 페이지 ({{photos.next_page_number}})</a> /
{% endif %}
<a href="{{request.path}}?page={{photos.paginator.num_pages}}">마지막 페이지</a></p>
