{% load staticfiles %}<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>사진 보기</title>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.vintage.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vintage.presets.js' %}"></script>

    <script type="text/javascript">
    $(window).load(function(e) {
        $('#id_image_file').change(function(e) {
            var reader = new FileReader();

            $('#preview_photo').hide();

            reader.onerror = function(e) { console.log(e); }
            reader.onloadend = function(e) {
                if ( (/^data\:image\/(jpeg|png);base64/i).test(e.target.result) ) {
                    $('#preview_photo').attr('src', e.target.result).show();
                }
                else {
                    if ( e.total == 0 || e.loaded == 0 ) {
                        alert('파일을 가져오지 못 했습니다.');
                    }
                    else {
                        alert('허용된 사진 파일이 아닙니다.');
                    }
                    $('#id_image_file').val('');
                }
            }
            reader.readAsDataURL(this.files[0]);
        });

        $('#image_filter_buttons > button').click(function(e) {
            switch ( $(this).val() ) {
                case 'reset':
                    if ( $('#preview_photo').data('vintageJS') ) {
                      $('#preview_photo').data('vintageJS')[$(this).val()]();
                    }
                    break;

                case 'vintage':
                case 'sepia':
                case 'greenish':
                case 'reddish':
                    if ( $('#preview_photo').data('vintageJS') ) {
                        $('#preview_photo').data('vintageJS')
                            .vintage(vintagePresets[$(this).val()]);
                    }
                    else {
                        $('#preview_photo').vintage(
                            {
                                onError: function() { console.log('vintage error'); },
                                onStart: function() { console.log('filtering start'); },
                                onStop: function() { console.log('filtering stop'); },
                                mime: 'image/png'
                            },
                            vintagePresets[$(this).val()]
                        );
                    }
                    break;
            }
        });

        $('#edit_photo_form').submit(function(e) {
            $('#filtered_image_file').val($('#preview_photo').attr('src'));
        });

    });
    </script>
</head>

<body>

{% if form.is_multipart %}
<form method="POST" id="edit_photo_form" action="{{request.path}}" enctype="multipart/form-data">
{% else %}
<form method="POST" id="edit_photo_form" action="{{request.path}}">
{% endif %}
{% csrf_token %}
<input type="hidden" id="filtered_image_file" name="filtered_image_file" value="" />
{{form.as_p}}

  <div id="image_filter_buttons">
    <button type="button" value="vintage">Vintage</button>
    <button type="button" value="sepia">Sephia</button>
    <button type="button" value="greenish">Greenish</button>
    <button type="button" value="reddish">Reddish</button>
    <button type="button" value="reset">원래대로</button>
  </div>

  <div>
    <img id="preview_photo" src="" />
  </div>

<input type="submit" value="저장" />
</form>


</body>

</html>
