{% load staticfiles %}
<html>

<head>
    <title>사진 보기</title>
</head>

<body>
{% if request.user.is_authenticated %}
<p>로그인한 이용자</p>
{% else %}
<p>로그인 안 한 이용자</p>
{% endif %}

    <ul>
        <li>{{photo.id}}</li>
        <li><img src="{{photo.image_file.url}}" /></li>
        <li>{{photo.description}}</li>
        {% if photo.tags.count %}
        <li>{% for tag in photo.tags.all %}
            <span>{{tag}}</span>
        {% endfor %}</li>{% endif %}
        <li><a href="{% url 'like_photo' photo.id %}">{% if is_liked %}
        좋아요 취소
        {% else %}
        좋아요
        {% endif %}</a></li>
        {% if photo.likes.count %}
        <li>{{photo.likes.count}}명이 좋아합니다.<ul>
            {% for like in photo.likes.all %}
            <li><a href="{% url 'profile_page' like.username %}">{{like.username}}</a></li>
            {% endfor %}
        </ul></li>
        {% endif %}
    </ul>

    {% if photo.comment_set.count %}
    <ul>
        {% for comment in photo.comment_set.all %}
        <li><span>{{comment.user}}</span> : {{comment.content}} ({{comment.updated_at}})</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="{% url 'edit_photo_comment' photo.id %}">
        {% csrf_token %}

        {{comment_form.as_p}}

        <p><input type="submit" value="댓글 달기" /></p>
    </form>
</body>
</html>
