{% load social_activity %}

<h2>{{request.user}}의 timeline</h2>
{% for photo in photos %}
<div>
    <p>{{photo.id}} : {{photo.user}}</p>
    <p><a href="{% url 'single_photo' photo.id %}"><img src="{{photo.image_file.url}}"/></a></p>
    <p><a href="{% url 'like_photo' photo.id %}">{% if photo|is_liked:request.user %}
        좋아요 취소
    {% else %}
    좋아요
    {% endif %}</a></p>
</div>
{% endfor %}
